*{
    margin: 0;
    padding: 0;
}

/* nav-bar design */
.title{
    display: flex;
    align-items: center;
    margin-left: 130px;
}
.list-bar ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-right: 130px;
}
.nav-bar{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 25px;
}
.logo{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.list-bar ul li{
    padding: 18px;
}
.logo-title{
    font-size: 28px;
    font-family: Mulish;
}
.home, .world{
    color:  #FF5400;
}
/* background img part */
.section1{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 400px;
    width: 1000px;
    border: none;
    border-radius: 10px;
    margin-top: 36px;
    font-family: Mulish;
    color: white;
    display: block;
    margin: 0 auto;
}
.back-img1 p{
    font-size: 15px;
    padding-top: 18px;
    width: 500px;
    text-align: center;
    padding-left: 250px;
    font-weight: 400;
}
.explore{
    font-size: 37px;
    padding-top: 70px;
    padding-left: 320px;
}
.frame{
    background: rgba(255, 255, 255, 0.30);
    height: 60px;
    width: 525px;
    border-radius: 8px;
    border: 0;
    margin-left: 240px;
    margin-top: 34px;
}
.inpuut{
    width: 100px;
    padding-bottom: 7px;
    padding-top: 7px;
    border: 0;
    border-radius: 4px;
    padding-left: 5px;
    gap: 30px;
    margin-left: 8px;
}
.frame-style{
    padding-top:15px;
    padding-left: 32px;
}
.btn1,.btn2{
    background-color: #FF5400;
    color: white;
    width: 100px;
    border: 0;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 8px;
}
/* main part starts */
.text-div{
    margin-left: 240px;
    margin-top: 50px;
    font-family: Mulish;
}
.text-div ul{
    padding-left: 20px;
    padding-top: 20px;
}
.text-div-title{
    font-size: 27px;
    padding-bottom: 20px;
}
.text-div p{
    color: rgba(19, 19, 24, 0.70);
    width: 500px;
}
.text-div ul > li{
    color: rgba(19, 19, 24, 0.70);
    width: 500px;
    padding-bottom: 20px;
}
.both{
    display: flex;
}
.mountain{
    height: 410px;
    width: 400px;
    margin-top: 50px;
    margin-left: 80px;
}
.btn2{
    margin-left: -5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Mulish;
}
.mid-head{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-family: Mulish;
}
.mid-head p{
    font-size: 16px;
    color: rgba(19, 19, 24, 0.70);
    padding-top: 20px;
    padding-bottom: 35px;
    
}
.first-container{
    display: grid;
    gap: 20px;  
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
}
.first-row1{
    width: 500px;
    border-radius: 16px;
    background:url(../Images/Rectangle\ 5.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    color: white;
    font-size: 25px;
}
.first-row2{
    width: 500px;
    border-radius: 16px;
    background:url(../Images/Rectangle\ 8.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
    color: white;
    font-size: 25px;
}
.second-container{
    display: grid;
    gap: 20px;  
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 20px;
}
.second-row1{
    width: 200px;
    border-radius: 16px;
    background:url(../Images/Rectangle\ 6.png);
    background-position: center;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    color: white;
    font-size: 25px;
}
.second-row2{
    width: 550px;
    border-radius: 16px;
    background:url(../Images/Rectangle\ 7.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
    color: white;
    font-size: 25px;
}
.second-row3{
    width: 230px;
    border-radius: 16px;
    background:url(../Images/Rectangle\ 9.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 20px; */
    color: white;
    font-size: 25px;
}
.third-container{
    display: grid;
    gap: 20px;  
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
}
.third-row1{
    width: 300px;
    border-radius: 16px;
    background:url(../Images/Rectangle\ 11.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    color: white;
    font-size: 25px;
}
.third-row2{
    width: 700px;
    border-radius: 16px;
    background:url(../Images/Rectangle\ 10.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
    color: white;
    font-size: 25px;
}
.choose{
    text-align: center;
    font-family: Mulish;
    padding-top: 20px;
    padding-bottom: 30px;
}
.choose h1{
    font-size: 28px;
    padding-bottom: 20px;
}
.choose p{
    color: rgba(19, 19, 24, 0.70);
}
.both-divv{
    display: flex;
    gap:30px;
   justify-content: center;
}
.divv1{
    background-color:  rgba(251, 181, 99, 0.05);
    height: 200px;
    width: 450px;
    border: 2px solid  rgba(251, 181, 99, 0.05);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
}
.divv2{
    background-color:  rgba(41, 206, 246, 0.05);
    height: 200px;
    width: 500px;
    border: 2px solid  rgba(41, 206, 246, 0.05);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
}
.divv1 h1{
    font-size: 18px;
    font-family: Mulish;
    padding-top: 10px;
    padding-bottom: 10px;
}
.divv2 h1{
    font-size: 18px;
    font-family: Mulish;
    padding-top: 10px;
    padding-bottom: 10px;
}
.divv3{
    background-color:  rgba(233, 68, 68, 0.05);
    height: 200px;
    width: 500px;
    border: 2px solid rgba(233, 68, 68, 0.05);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.divv3 h1{
    font-size: 18px;
    font-family: Mulish;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sec4div{
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
    gap: 20px;
    justify-content: center;
}
.text-side{
    height: 300px;
    width: 350px;
    border:2px solid #FF5400;
    border-radius: 8px;
    font-family: Mulish;
}
.color{
    padding-left: 20px;
    padding-top: 20px;
}
.img-side img{
   height: 300px;
   width: 590px;
}
.color h1{
    font-size: 23px;
    padding-bottom: 6px;
}
.color p{
    color: #5A5A5D;
    padding-right: 10px;
}
.input-divv input{
    margin-top: 20px;
    display: block;
    margin-left: 20px;
    padding: 10px 20px;
    width: 250px;
    border-radius: 8px;
    border: 0;
    background-color: rgba(19, 19, 24, 0.05);
    
}
.btn3{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    width: 300px;
    border: 0;
    background-color: #FF5400;
    border-radius: 8px;
    color: white;
}
.footer{
    background-color: rgba(19, 19, 24, 0.05);
    height: 400px;
}
.footer-divv{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.footer-divv img{
    height: 40px;
    width: 40px;
}
.footer p{
    color: #5A5A5D;
    text-align: center;
    padding-top: 10px;
}
.social img{
    display: block;
    margin: auto;
    margin-top: 20px;
}
hr{
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 20px;
}
.reserve{
    margin-top: 60px;
}
.angle{
    height: 70px;
    width: 200px;
    background-color: #FF5400;
    color: white;
    border: 0;
    border-radius: 8px;
    transform: rotate(-19deg);
    margin-top: -110px;
    margin-left: 385px;
}
.angle p{
    padding: 10px 10px;
}
.angle h2{
    padding-left: 10px;
}







/* media query starts here */
@media only screen and (max-width:600px){
      .logo{
        margin-left: 5px;
      }
      .logo-title{
        text-align: center;
      }
      .list-bar{
        display: none;
      }
      .explore{
        font-size: 25px;
        padding-top: 50px;
        padding-left: 50px;
        padding: 0 auto;
        text-align: center;
        width: 100px;
      }
      .back-img1 p{
        width: 200px;
        padding-left: 7px;
      }
      .frame,.inpuut{
        display: block;
      }
      .section1{
        height: 500px;
        width: 100%;
        margin-left: 5px;
        padding-right: 25px;
        background-position: center;
      }
      .back-img1{
        width: 300px;
      }
      .both{
        flex-direction: column;
      }
      .mountain{
        height: 310px;
        width: 100%;
        background-position: center;
        margin-top: 10px;
        margin-left: 5px;
      }
      .text-div{
        margin-left: 5px;
        width: 300px;
      }
      .text div p{
        width: 300px;

      }
      .media{
        /* flex-direction: column; */
        width: 80%;
        margin: 0 auto;
      }
      .frame{
        margin-left: 4px;
        margin-right: 5px;
        height: 200px;
        width: 260px;
      }
      .frame-style{
       margin: 0 auto; 
       justify-content: center;
      }
      .title{
        flex-direction: column;
        margin-left: 5px;

      }
      .inpuut{
        margin-bottom:7px;
        margin-right: 20px;
      }
      .section1{
        flex-direction: column;
        width: 100%;
      }
      .back-img1{
        text-align: center;
        margin: 0;
      }
}
